body {
	font-size: 14px;
	vertical-align: top;
	color: #000000;
	font-weight: normal;
	font-family: "PT Sans Narrow", Verdana, Arial, sans-serif;

	min-width: 940px;
  margin: 0;
  padding: 0;

  background-color: #000000;
  background-image: url("../img/barbershop-index-1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 2560px auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.main-header {
	padding: 30px 0;
	background-color: #000000;
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-bottom: 55px;
}

.main-navigation {
	float: left;
	vertical-align: top;
	width: 640px;
/*	text-align: center;
	text-transform: uppercase;*/
}

.user-block {
	float: right;
	vertical-align: top;
	width: 65px;
}

.header {
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
	text-align: center;
}

.header:last-child {
	margin-right: 0;
}

.logo {
	width: 368px;
	margin: 0 auto;
	margin-bottom: 20px;/*Прермерить*/
}

.features-row {
	width: 940px;
	margin: 0 auto;
	padding: 0 50px;
	color: #FFFFFF;
	font-weight: 700;
	margin-bottom: 85px;
}

.features-item {
	float: left;
	width: 250px;
	margin-right: 45px;
	vertical-align: top;
	text-align: center;
}

.features-item:last-child {
	margin-right: 0;
}

.features-title {
	text-transform: uppercase;
	font-size: 30px;
}

.index-content {
	background-image: url("../img/background-block.jpg");
	background-repeat: repeat;

	padding: 55px 82px;
	margin-bottom: 35px;
	text-align: left;
}

.index-content:last-child {
	margin-bottom: 64px;
}

.content-column-left,
.content-column-right {
  width: 388px;
}

.content-column-left {
  float: left;
}

.content-column-right {
  float: right;
}

.content-column-title {
	font-size: 30px;
	text-transform: uppercase;
}

.news-preview {
	font-size: 0;
}

.news {
	display: inline-block;
	width: 300px;
	vertical-align: top;
	text-align: left;
	margin-right: 88px;
	font-size: 14px;
}

.indented {
	margin: 0;
	margin-bottom: 40px;
}

.text-news {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
	/*font-size: 14px;*/
}

.gallery-content {
	margin: 0;
	text-align: left;
}

.main-footer  {
	background-image: url("../img/background-footer.jpg");
	background-repeat: repeat;

	padding: 55px;
	color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
}

.footer-contacts {
  float: left;
  width: 310px;
  margin-right: 90px;
}

.footer-social {
  float: left;
  width: 140px;
  text-align: center;
}

.footer-copyright {
  float: right;
  width: 140px;
  text-align: center;
}

.footer-contacts {
	line-height: 1.5em;
}

.decoration {
	text-decoration: underline;
}

time {
	font-family: Georgia, Verdana, Arial, serif;
	font-style: italic;
}

ul {
	padding: 0;
	margin: 0;
}

a {
		text-decoration: none;
		color: #FFFFFF;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

p {
	margin-top: 0;
}